@import url('https://fonts.googleapis.com/css2?family=Barrio&display=swap');

html, body {
  margin: 0;
  padding: 0;
  background:#DDB8D8;
  color:#fff;
  font-family: Helvetica, Arial, sans-serif;
}

a{
  color:#52604A;
  text-decoration: none;
  transition: all ease 1s;
}

a:hover{
  color:#F27794;
  text-decoration: underline;
  transition: all ease 1s;
}

a:hover:after{
  content:"🇨🇱🌶️";
}

h1{
  font-size: calc(3rem + 5vw);
}

#bloque{
  margin:5rem;
  padding: 1rem;
  background: rgba(255,255,255,.2);
  border-radius: 1rem;
  box-shadow: 0 0 5px white;
  color: #F29B3B;
}

coso.pdf {
  color: pink;
}

.xmas {
  font-family: "Barrio", system-ui;
  font-weight: 400;
  font-style: normal;
}

.ajuste{
  font-size:120%;
}


/*
canvas {
  display: block;
}
*/